*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgb(0,0,0,.5);
    background-color: black;
}
.navbar .navbar-brand{
    font-size: 24px;
    font-weight: 800;
    color: blueviolet !important;
}
#avbarSunpportedContent{
    color: #fff;
    border-bottom: 2px solid transparent;
}
#avbarSunpportedContent a:hover{
    border-bottom: 2px solid blueviolet;
}
.section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Home{
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)),url(organic7.png);
    background-position: center;
    background-size: cover; 
    flex-direction: column;   
}
#Home h1{
    font-size: 80px;
    color: black;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0px 1px 0px #ccc,
                0px 1px 0px #ccc,
                0px 1px 0px #ccc,
                0px 1px 0px #ccc,
                  0px 1px 0px #ccc;
}
#About{
    padding: 40px;
    background-color:plum ;
}
#About us{
    font-size: 60px;
    font-weight: 1000px;
}
#About p{
    color: white;
}